In [12]:
import pandas as pd

# open metro data/stop_times.csv
stop_times = pd.read_csv('./stop_times.csv', sep=';')

stop_times.head(5)

  trip_id arrival_time departure_time  stop_id  stop_sequence
0     BU0     06:01:00       06:01:00     5708              0
1     BU0     06:03:00       06:03:00     5703              1
2     BU0     06:05:00       06:05:00     5712              2
3     BU0     06:06:00       06:06:00     5697              3
4     BU0     06:08:00       06:08:00     5699              4

In [13]:
# filter in trip_id that start with <letters>U0
stop_times = stop_times[stop_times['trip_id'].str.contains('U0')]
print(stop_times)

      trip_id arrival_time departure_time  stop_id  stop_sequence
0         BU0     06:01:00       06:01:00     5708              0
1         BU0     06:03:00       06:03:00     5703              1
2         BU0     06:05:00       06:05:00     5712              2
3         BU0     06:06:00       06:06:00     5697              3
4         BU0     06:08:00       06:08:00     5699              4
...       ...          ...            ...      ...            ...
39109     AU0     06:53:00       06:53:00     5701             28
39110     AU0     06:54:00       06:54:00     5715             29
39111     AU0     06:56:00       06:56:00     5700             30
39112     AU0     06:58:00       06:58:00     5716             31
39113     AU0     07:00:00       07:00:00     5723             32

[168 rows x 5 columns]

In [21]:
#remove arrival_time and departure_time
# stop_times = stop_times.drop(columns=['arrival_time', 'departure_time'])

#drop the 0at the end of the trip_id
# stop_times['trip_id'] = stop_times['trip_id'].str[:-2]

# display the whole df
stop_times

      trip_id  stop_id  stop_sequence
0           B     5708              0
1           B     5703              1
2           B     5712              2
3           B     5697              3
4           B     5699              4
...       ...      ...            ...
39109       A     5701             28
39110       A     5715             29
39111       A     5700             30
39112       A     5716             31
39113       A     5723             32

[168 rows x 3 columns]

In [22]:
# group by trip_id
stop_times2 = stop_times.groupby('trip_id').agg(lambda x: x.tolist())
stop_times2

,stop_id,stop_sequence
trip_id,,
A,"[5708, 5703, 5712, 5697, 5699, 5726, 5713, 570...","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2..."
B,"[5708, 5703, 5712, 5697, 5699, 5726, 5713, 570...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
Bexp,"[5708, 5703, 5712, 5697, 5699, 5726, 5713, 570...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
C,"[5703, 5712, 5697, 5699, 5726, 5713, 5704, 570...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
D,"[5813, 5811, 5812, 5792, 5769, 5774, 5767, 577...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
E,"[5708, 5703, 5712, 5697, 5699, 5726, 5713, 570...","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2..."
F,"[5710, 5728, 5705, 5698, 5702, 5722, 5714, 571...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."

In [34]:
lines = {trip_id: stop_times2.loc[trip_id]['stop_id'] for trip_id in stop_times2.index}
metro_lines = {"lines": []}
print(lines)
# open stops.txt as csv
stops = pd.read_csv('./stops.txt', sep=',')
routes = pd.read_csv('./routes.txt', sep=',')

routes

for line in lines:
    metro_lines["lines"].append({
        "line_name": line,
        "color": routes[routes['route_id'] == line]['route_color'].values[0],
        "stops": [{"name": stops[stops['stop_id'] == stop_id]['stop_name'].values[0], "lat": stops[stops['stop_id'] == stop_id]['stop_lat'].values[0], "lon": stops[stops['stop_id'] == stop_id]['stop_lon'].values[0], "zone": stops[stops['stop_id'] == stop_id]['zone_id'].values[0]
                   } for stop_id in lines[line]]
        

    })

metro_lines


# store json
# fix encoding so accents are displayed correctly
import json
with open('metro_lines.json', 'w', encoding='utf-8') as f:
    json.dump(metro_lines, f, ensure_ascii=False, indent=2)

{'A': [5708, 5703, 5712, 5697, 5699, 5726, 5713, 5704, 5706, 5711, 5721, 5729, 5725, 5724, 5727, 5709, 5720, 5719, 5701, 5715, 5700, 5716, 5723], 'B': [5708, 5703, 5712, 5697, 5699, 5726, 5713, 5704, 5706, 5711, 5721, 5729, 5725, 5724, 5737, 5734, 5736, 5733, 5750, 5744, 5739, 5753, 5743, 5741, 5742, 5740, 5735, 5749, 5731, 5732, 5747, 5752, 5730, 5745, 5748, 5746], 'Bexp': [5708, 5703, 5712, 5697, 5699, 5726, 5713, 5704, 5706, 5711, 5721, 5729, 5725, 5724, 5744, 5742, 5740, 5749, 5752, 5745, 5746], 'C': [5703, 5712, 5697, 5699, 5726, 5713, 5704, 5706, 5711, 5721, 5729, 5725, 5724, 5737, 5755, 5764, 5754, 5757, 5763, 5760, 5765, 5762, 5756, 5761], 'D': [5813, 5811, 5812, 5792, 5769, 5774, 5767, 5771, 5773, 5778, 5766, 5726, 5770, 5775, 5768, 5777, 5776, 5772, 5791], 'E': [5708, 5703, 5712, 5697, 5699, 5726, 5713, 5704, 5706, 5711, 5721, 5729, 5725, 5724, 5737, 5734, 5736, 5733, 5750, 5783, 5782], 'F': [5710, 5728, 5705, 5698, 5702, 5722, 5714, 5718, 5717, 5707, 5708, 5703, 5712, 5697, 5699, 5726, 5713, 5704, 5706, 5711, 5721, 5729, 5725, 5724]}